---
layout: default
---
<h1>Post Categories</h1>
{% for category in site.blog_categories %}
	<div class="category">
	  {% assign posts = site.posts | where: "category", category.slug %}
	  {% assign count = posts | size %}
	  {% assign latest = posts | first %}
	  <h2>{{ category.title }}</h2>
	  <p><a href="{{ site.baseurl }}{{ category.url }}">{{ posts | size }} {% if count > 1 %}posts{% else %}post{% endif %}</a></p>
	</div>
	<p>Latest: <a href="{{ site.baseurl }}{{ latest.url }}">{{latest.title}}</a></p>
{% endfor %}