---
---

@import "{{ site.theme }}";

h1.project-name {

	a {
		color: inherit;
	}

	a:hover {
		text-decoration: none;
		opacity: .8;
	}

	img {
		vertical-align: -8px;
		margin-right: 10px;

		@media screen and (max-width: 64em) and (min-width: 42em) {
			max-height: 50px;
			margin-right: 6px;
		}
		@media screen and (max-width: 42em) {
			max-height: 40px;
			margin-right: 5px;
		}
	}

}

.btn {
	margin: 1rem auto;

	@media screen and (min-width: 64em) {
		margin-bottom: -2rem;
	}
}

.btn.epmc{
	padding-left: 2rem;
	background-image: url({{ site.baseurl }}/images/epmc-logo.png); 
	background-repeat: no-repeat;
	background-position: .5rem center;
	background-size: 22px;

	@media screen and (max-width: 42em) {
		background-position: calc(50% - 46px) center;
	}
}

.main-content {

	& :first-child {
    	margin-top: inherit;
    }
	
	& > :first-child {
    	margin-top: 0;
	}
}

li {
	margin-top: .5rem
}

.site-footer {
	background: url({{ site.baseurl }}/images/epmc-logo-single.png) no-repeat right bottom;
	padding-top: 0;

	@media screen and (max-width: 650px) {
		text-align: center;
		padding-bottom: 65px;
		background-position: center bottom;
	}
}

.metadata {
	font-size: .85em;
	margin-top: 3rem;
	text-align: right;
}

.category {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	
	h2, p {
		margin-top: 0;
		margin-bottom: 0
	}
	h2 {
		margin-right: 30px;
	}
	& ~ .category {
		margin-top: 1rem;
	}
}

.post-excerpt {
	border-bottom: solid 1px #eff0f1;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	
	&:last-of-type {
		border-bottom: 0
	}

	.post-excerpt-date {
		font-size: .9em;
		display: inline;
		vertical-align: 3px;
		padding-right: 10px;
		margin-right: 10px;
		border-right: solid 1px #eff0f1;
	}

	.post-excerpt-title {
		display: inline
	}

	.excerpt-bottom {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.metadata {
			text-align: left;
			font-size: .8em;
			margin-top: 0;
		}
	}

	& ~ .site-footer {
		margin-top: 0;
	    padding-top: 2rem;
	}
}