---
layout: default
---
{% assign category = site.blog_categories | where: "slug", page.category %}
{% assign category = category[0] %}

<article class="post">
  <div class="sharethis-inline-share-buttons"></div>
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="metadata">
    <p>Written on {{ page.date | date: "%e %B %Y" }}, by 
      {% for author in page.author %}
        {% assign a = site.data.authors[author] %}
        <a href="{{ a.web }}" target ="_blank">{{ a.name }}</a>{% if author != page.author and author != page.author.last %}, {% endif %}{% endfor %}{% if category %}, in <a href="{{ site.baseurl }}{{ category.url }}">{{ category.name }}</a>{% endif %}
	</p>
  </div>
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5a8d7d2ad57467001383cd9b&product=inline-share-buttons"></script>
</article>
